<h2>Books</h2>
<div>Title</div>
<div>Body</div>
<h3>New book</h3>
<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  
  <p>Body</p>
  <%= f.text_area :body %>
  
  <%= f.submit '投稿' %>
<% end %>

